<style>
  img {
    width: 100%;
    height: auto;
  }
</style>

<div class="container text-center mt-5 align-text-bottom " id="welcome">
  <h1 class="text-primary font-weight-bold">Route planner</h1>
  <h3 class="text-secondary">Welcome to las Palmas city</h3>
  <br>
  <h6 class="text-success font-italic">By: Gofio script</h6>
  <br>

  <button class="mt-5 btn btn-dark">Select route</button>


</div>
