<style>
  img {
    width: 100%;
    height: auto;
  }
</style>

<div class="container text-center mt-5 align-text-bottom " id="welcome">
  <h1 class="font-weight-bold" style="color: #00FFFF;">ROUTE PLANNER</h1>
  <br>
  <h3 style="color: #FF5E00;">Welcome!</h3>
  <br>

  <button class="mt-5 btn btn-dark">Select route</button>

  <br>
  <p class="text-success font-italic mt-5">By: Gofio script</p>
</div>
